* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none;
    outline: none;
    background: transparent; }

i {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.menu-content .col-12 {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 0;
}
  body {
  font-family: 'Arial'; }
@font-face{
  font-family:"HelveticaNeueLTStd-Cn";
  src: url('../fonts/HelveticaNeueLTStd-Cn.otf')
}
@font-face{
  font-family:"LRJF";
  src: url('../fonts/Luxury Royale JF Regular.ttf')
}
@font-face{
  font-family:"HNLTS-LtCn";
  src: url('../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-LtCn.otf')
}
@font-face{
        font-family:"HelveticaNeueLTStd-ThCn";
        src: url('../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-ThCn.otf')
}
@font-face{
        font-family:"HelveticaNeueLTStd-BlkCn";
        src: url('../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-BlkCn.otf')
}
@font-face{
        font-family:"HelveticaNeueLTStd-LtIt";
        src: url('../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-LtIt.otf')
}
@font-face{
        font-family:"HelveticaNeueLTStd-Lt";
        src: url('../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.otf')
}
@font-face{
        font-family:"HelveticaNeueLTStd-Cn";
        src: url('../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Cn.otf')
}
@font-face{
        font-family:"HelveticaNeueLTStd-UltLtCn";
        src: url('../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-UltLtCn.otf')
}
@font-face{
        font-family:"HelveticaNeueLTStd-BdCn";
        src: url('../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-BdCn.otf')
}
@font-face{
        font-family:"Bello-Script";
        src: url('../fonts/bello/Bello-Script.ttf')
}
@font-face{
        font-family:"Luxury Royale JF Regular";
        src: url('../fonts/Luxury Royale JF Regular.ttf')
}
@font-face{
        font-family:"HelveticaNeueLTStd-LtCn";
        src: url('../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-LtCn.otf')
}
@font-face{
        font-family:"AEmpirial Regular";
        src: url('../fonts/Empirical/aEmpirial Regular.ttf')
}

  /* .................HEADER ..................*/

.header-top{
  background-color: black; }
  .header-top p{
    font-size: 11px;
    color: white;
    line-height: 30px;
    margin: 0px;
    }
  .header-top ul{ margin: 0px; }
    .header-top ul li{ 
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px;
    border-left:1px solid #444444 ;
    border-right:1px solid #444444 ;
    margin-left: -5px; }
      .header-top ul li a{ 
      color: white;
      line-height: 30px;
      font-size: 11px }

.header-bottom .logo{ 
  height: 105px; }
  .header-bottom .logo img{ 
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .header-bottom .menu{ 
  padding: 0px; }
    .header-bottom .menu .dropdown{ 
    display: inline-block;
    margin-left: 7%; }
      .header-bottom .menu ul.text-right{ 
      margin-top: 41px !important;
      margin: 0px; }
        .header-bottom .menu .dropdown a{ 
        color: black;
        font-size: 16px }
  .header-bottom .form-group{
    width: 215px;
    height: 70px;
    background-color: #fafafa;
    display: inline-block;
    margin-top: 17px;
    margin-bottom: 0px;
    border: 1px solid #A9A9A9;
    }
    .header-bottom .form-group input{
      width: 213px;
      height: 35px;
      border: none;
      border-bottom: 1px solid #A9A9A9;
      padding-left: 9px;
      font-size: 13px; }
    .header-bottom .form-group i{
      position: absolute;
      right: 25px;
      top: 29px;
      color: #c1c1c1;
      cursor: pointer; }
    .header-bottom .form-group p{
      color: #949393;
      line-height: 35px;
      background: url(../images/cart.png) no-repeat 9px 6px;
      padding-right: 9px;
      font-size: 13px; }

.menu-content{
  /* border-top: 1px solid #d6d6d6; */
  /* border-bottom: 1px solid #d6d6d6; */
  font-size: 12px;
  line-height: 30px;
  }
  .menu-content a{ 
    color: #7a706d;
    font-size: 12px;
    line-height: 30px; }
  .menu-content a:hover{ 
    color: black; }
  .menu-content a i{ 
    font-size: 18px; }
content .product{ 
  margin-top: 25px; }
content .product .product-introduction ul.carousel-indicators {
  margin: auto;
  bottom: auto;
  position: static;
  }
  content .product .product-introduction ul.carousel-indicators li{ 
    width: auto;
    height: auto;
    margin: 0px;
    text-indent: unset; }
    content .product .product-introduction ul.carousel-indicators.row .col-3{ 
      padding: 10px 10px;
      opacity: 0.5; }
    content .product .product-introduction ul.carousel-indicators.row .col-3.active{ 
      opacity: 1; }
content .product .product-details p:nth-child(1){ 
  font-size: 12px;
  color: #8f8f8f;
  padding: 10px 0px 15px 0px;
  border-bottom: 1px solid #d6d6d6; }
  content .product .product-details p:nth-child(1) span:nth-child(2){ 
    color: #fd926d; }
  content .product .product-details h4{
    font-size: 24px;
    padding: 20px 0px 10px 0px;
    color: #4a4a4a;  }
  content .product .product-details div:nth-child(3) .text-left{ 
    font-size: 36px;
    color: #fd926d; }
  content .product .product-details div:nth-child(3) .text-right p{
    font-size: 12px;
    color: #8f8f8f;
    border: none;
    padding: 0px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background: url('../images/review.png') no-repeat center right;
    padding-right: 60px; }
  content .product .product-details p:nth-child(4){
    font-size: 12px;
    color: #8f8f8f;
    padding-top: 10px; }
  content .product .product-details>div:nth-child(5){
    margin-top: 25px;
    padding: 10px 0px 3px 0px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;  }
    content .product .product-details .form-group{ 
      display: inline-block;
      margin: 0px; }
    content .product .product-details div:nth-child(5) .text-left input{
      width: 160px;
      height: 30px;
      color: #4d4d4d;
      font-size: 12px;
      border: none;
      background-color: #f4f4f4;
      padding-left: 10px;  }  
    content .product .product-details div:nth-child(5) .text-left button{
      width: 30px;
      height: 30px;
      background-color: #e5e5e5;
      display: inline-block;
      border-radius: 0px;
      margin-left: -5px;
      padding: 0px; }
    content .product .product-details div:nth-child(5) .text-right div{
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-left: -4px; }
      content .product .product-details div:nth-child(5) .text-right div:nth-child(1){ 
       background-color: #efebe2; }
      content .product .product-details div:nth-child(5) .text-right div:nth-child(2){ 
       background-color: #c9c1c6; }
      content .product .product-details div:nth-child(5) .text-right div:nth-child(3){ 
       background-color: #b29b88; }
      content .product .product-details div:nth-child(5) .text-right div:nth-child(4){ 
       background-color: #968886; }
       content .product .product-details div:nth-child(5) .text-right div:nth-child(5){ 
       background-color: #cde0ef; }
    content .product .product-details div:nth-child(6){ 
      margin-top: 25px; }
      content .product .product-details .input-group button{
        background-color: #fd926d;
        border-radius: 0px;
        color: white;
        width: 50px;
        height: 50px;
        font-size: 12px; }
      content .product .product-details .input-group input{
        height: 50px;
        background-color: #feb298;
        text-align: center;
        border: none;
        }
      content .product .product-details .add-cart button{ 
        width: 150px;
        height: 50px;
        background-color: #fd926d;
        color: white;
        font-family: 'HelveticaNeueLTStd-Lt';
        border-radius:0px; }
content .share {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  margin-top: 30px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6; }
  content .share img{ 
    float: left; }
  content .share p{
    float: left;
    padding-left: 10px;
    font-size: 12px;
    color: black;
    padding-top: 8px; }
content .danhmuc{ 
  margin-top: 35px; }
  content .danhmuc div{ 
    height: 60px;
    width: 100%;
    padding-left: 20px;
    text-transform: uppercase;
    display: flex;
    color: white;
    align-items: center; }
  content .danhmuc p{ 
    padding-left: 10px;
    background-color:#c9c1c6; }
  content .danhmuc div button{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 0px;
    color: white;
    background: #f2b9a4;
    margin-right: 15px;
    cursor: pointer; }
  content .danhmuc div:nth-child(1){
    background-color: #ffd5c6; }
  content .danhmuc div:nth-child(3){
    background-color: #ffcab8; }
  content .danhmuc div:nth-child(5){
    background-color: #ffae92; }
  content .danhmuc div:nth-child(7){
    background-color: #ffa687; }
  content .danhmuc div:nth-child(9){
    background-color: #fd926d; }
content .related-products{
  height: 1px;
  border: 1px solid #d8d8d8;
  text-transform: uppercase;
  margin-top: 50px;
  position: relative; }
content .related-products p{
  font-size: 15px;
  font-weight: bold;
  padding: 0px 20px;
  display: inline-block;
  position: absolute;
  top: -11px;
  transform: translateX(-50%);
  background: white; }
  content .products{ 
    margin-top: 50px; }
  content .products .text-center{ 
    padding-bottom: 10px; }
    content .products .text-center div{ 
      background-color: #f7f7f7;
      padding: 10px 0px; }
  content .products h5{ 
    font-size: 12px;
    color: #373737; }
  content .products p{ 
    font-size: 22px;
    color:#373737; }
  content .products button{ 
    width: 120px;
    height: 30px;
    color: white;
    font-size: 12px;
    border-radius: 0px;
    background-color: #fd926d; }

/* ----------CONTENT2---------- */
content .slider_product a.carousel-control-prev,content .slider_product a.carousel-control-next{ 
  width: 0; }
content .slider_product i.fa.fa-chevron-left,content .slider_product i.fa.fa-chevron-right{  
  color: black;
  font-size: 30px; }
content .slider_product .carousel-item .col-md-5{ 
  align-items: center;
  display: flex; }
content .slider_product .carousel-item .content-slider{ 
  padding-right: 20px; }
content .slider_product .carousel-item .content-slider h4{ 
  font-size: 24px;
  color: #4a4a4a;
  padding-bottom: 20px }
content .slider_product .carousel-item .content-slider h3{ 
  font-size: 36px;
  color: #fd926d;
  font-weight: bold;
  padding-bottom: 20px }
content .slider_product .carousel-item .content-slider p{  
  font-size: 12px;
  color: #8f8f8f;
  padding-bottom: 20px; }
content .slider_product .carousel-item .content-slider button{ 
  border-radius: 0px;
  background: #fd926d;
  color: white; }
content .slider_product .carousel-indicators{ 
  margin: 20px;
  bottom: -50px; }
content .slider_product .carousel-indicators li{ 
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #867a76;
  margin: 0px 10px; }
content .slider_product .carousel-indicators li.active{ 
  background-color: #fd926d; }
.product-portfolio{ 
  margin-top: 50px; }
  .product-portfolio .sort-by{ 
    font-size: 11px;
    color: #4d4d4d; }
    .product-portfolio .sort-by select{ 
      width: 100px;
      height: 30px;
      background: url(../images/sort-by.jpg) right no-repeat;
      background-color: #f4f4f4;
      border: none;
      margin-left: 5px;
      -webkit-appearance: none;
      padding: 0 10px; }
  .product-portfolio .showing{ 
    font-size: 11px;
    color: #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .product-portfolio .showing div{
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      margin-left: 5px;
      background-color: #f4f4f4;
      justify-content: center;  }
    .product-portfolio .showing div:nth-child(2){ 
      background-color: #e5e5e5; }
      .product-portfolio-left .row:nth-child(1){ 
        padding-bottom: 15px; }
.product-portfolio .product-portfolio-left .product{ 
  margin: 0px;
  padding-bottom: 10px;
  margin: 15px 0px;
  background-color: #f9f5f4; }
.product-portfolio .product-portfolio-left .product h5{ 
  font-size: 12px;
  color: #373737;
  padding: 10px 0px 5px 0px; }
.product-portfolio .product-portfolio-left .product p{ 
  font-size: 22px;
  color: #373737;
  padding-bottom: 5px; }
.product-portfolio .product-portfolio-left .product button{ 
  border-radius: 0px;
  background-color: #fd926d;
  width: 120px;
  height: 30px;
  font-size: 12px;
  color: white; }
.product-portfolio .product-portfolio-left .border-top-product{ 
  border-top: 1px solid #d6d6d6;
  height: 1px;
  width: 100%; }
.product-portfolio-left .row:nth-child(4){ 
  margin-top: 10px; }
.product-portfolio .product-portfolio-right h4{ 
  font-size: 12px;
  padding: 10px 10px;
  background-color: black;
  color: white;
  text-transform: uppercase; }
.card{ 
  border: none; } 
.card .collapse.show { 
  border-top: 1px solid white;
  margin-top: -1px; }
.card .collapsing{ 
  border-top: 1px solid white;
  margin-top: -1px; } 
  .card-header{ 
    padding: 5px 0px;
    background: none; }
    a.card-link{ 
      font-size: 12px;
      color: #727272;
       }
    a.card-link i.fa-plus{ 
      display: none; }
    a.card-link.collapsed i.fa-plus{ 
      display: block; }
    a.card-link.collapsed i.fa-minus{ 
      display: none; }
      a.card-link i{ 
        position: absolute;
        right: 0;
        top: 11px;
        color: black;
        font-size: 10px; }
  .card-body{ 
    padding: 0px; }
    .card-body ul{ 
      margin: 0px; }
    .card-body li{ 
      list-style-type: none;
      padding-left: 20px;
      line-height: 17px;
      background: url('../images/list-style.png') 10px 10px no-repeat; }
      .card-body li a{ 
        font-size: 11px;
        color: #727272; }
      .card-body li a:hover{ 
        color: black; }
.progress_bar{ 
  margin-top: 30px; }
.progress_bar_filter{
  font-size: 12px;
  text-transform: uppercase;
  color: #848484;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  }
.progress_bar_filter button{ 
  font-size: 12px;
  width: 70px;
  height: 30px;
  border-radius: 0px;
  border-bottom: 2px solid #cccccc;
  background: #e5e5e5; }
.select-size{ 
  margin-bottom: 37px; }
.select-size h5{ 
  font-size: 12px;
  color: #5e5e5e;
  padding-top: 30px;
  padding-bottom: 15px; }
.select-size button{ 
  width: 30px;
  height: 30px;
  font-size: 11px;
  padding: initial;
  border-radius: 0px; }
.select-size button.btn:focus{ 
  box-shadow: none;
  background: #fd926d; }
.sale-featured-product{ 
  display: inline-block;
  padding: 10px 0px;
  border-bottom: 1px solid #d6d6d6;
  width: 100%; }
 .sale-featured-product .img{
    float: left;
    margin-right: 7px;
    }
 .sale-featured-product .text{ 
    float: left;  }
    .sale-featured-product .text h3{
      font-size: 12px;
      color: #5e5e5e;
      padding-bottom: 5px;
      text-transform: uppercase;
      }
    .sale-featured-product .text p{ 
      font-size: 16px;
      font-weight: bold;
      color: #fd926d; }

/* ----slider----- */

.ui-widget.ui-widget-content{ 
  border: none;
  background: #e5e5e5;
  height: 8px; }
.ui-state-default{ 
  width: 16px !important;
  height: 16px !important;
  background: #fd926d !important;
  border: none !important;
  border-radius: 50% ;
  cursor: pointer !important; }
.ui-slider-horizontal .ui-slider-range{ 
  background: #fd926d; }

/* ----and slider----- */

/* -------------CONTENT3-------------- */


.home-slider .item{ 
  background: #f5f2eb; }
.home-slider .item .row .col-md-6 { 
  display: flex;
  align-items: center; }
.home-slider-text{ 
  width: 100%; }
.home-slider-text .crazy{ 
  width: 50%;
  display: inline-block;
  height: 28px;
  border-bottom: 1px solid #78645d; }
.home-slider-text P:nth-child(3){ 
  display: inline-block;
  width: 70%;
  font-size: 36px;
  font-family: "HNLTS-LtCn";
  color: #78645d;
  border-top: 1px solid;
  margin-top: 3px; }
.home-slider-text img{ 
  width: 70% !important;
  display: inline !important;
  padding-bottom: 10px;
  border-bottom: 4px solid #78645d;
  margin-top: 12px;  }
.home-slider-text h4{ 
  font-size: 36px;
  font-family: "LRJF";
  color: #78645d;
  display: inline;
  padding: 0px 10px;
  background: #f5f2eb; }
.home-slider-text button{ 
  width: 150px;
  height: 50px;
  color: white;
  background: #ffa687;
  border-radius: 0px; }
.home-slider .owl-nav button i{ 
  font-size: 30px;
  color: #e9e0d7;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-70%);
  padding: 30px 8px;
  background: white; }
.home-slider .owl-nav button.owl-next i{ 
  right: 0;
  left: auto; }
.home-slider .owl-nav,.home-slider .owl-dots{ 
  height: 0px;
  margin: 10px 0px; }
.home-slider .owl-theme .owl-dots .owl-dot span{ 
  background: #867a76; }
.home-slider .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{ 
  background-color: #ffa687; }
.home-slider .owl-theme .owl-dots button{ 
  margin: 0px 5px; }
.stay_find{ 
  background: #ededed; }
.stay-find { 
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #6b6b6b;
  margin-top: 40px; }
  .stay-find form{ 
    display: inline-block; }
  .stay-find input{ 
    width: 130px;
    height: 30px;
    padding-left: 5px;
    margin-left: 5px;
    border: none; }
  .stay-find button{ 
    width: 30px;
    height: 30px;
    padding: 0;
    color: white;
    background: #ffa687;
    border-radius: 0;
    margin-left: -4px;
    border: none; }
.stay-find .find{ 
  display: flex;
  align-items: center; }
  .stay-find .find span{ 
    margin-right: 10px; }
  .stay-find .find i{ 
    width: 55px;
    height: 55px;
    font-size: 25px;
    padding: 16px;
    background: #f7f7f7; }
  .stay-find .find i.fa-twitter{ 
    background-color: #ededed; }
.layer { 
  margin-top: 40px; }
.layer .left img{ 
  position: absolute;
  padding-right: 15px; }
.layer .left .text-center{ 
  height: 337px;
  display: flex;
  align-items: center;
  justify-content: center; }
.layer .left .text-center h3{ 
  font-size: 34px;
  font-family: HelveticaNeueLTStd-BlkCn; }
.layer #outfits{ 
  font-size: 74px;
  font-family: HelveticaNeueLTStd-ThCn;
  line-height: 60px; }
.layer #and{ 
  display: inline-block;
  position: relative;
  margin-top: 9px; }
p#and::before {
  content: "";
  height: 1px;
  border-bottom: 1px solid;
  display: inherit;
  width: 217px; }
p#and span{ 
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 12px;
  background: black;
  color: white;
  border-radius: 50%;
  font-size: 22px; }
.layer #looks{ 
  font-size: 82px;
  font-family: HelveticaNeueLTStd-BlkCn;
  color: #4fafa0;
  line-height: 64px;
  margin-top: 25px; }
.layer .right .tron{ 
  position: absolute;
  top: 22px; }
  .layer .right .tron h3{ 
    font-size: 22px;
    font-family: Bello-Script;
    position: absolute;
    top: 11%;
    left: 33%;
    color: #fd926d; }
  .layer .right .tron p:nth-child(3){ 
    position: absolute;
    font-size: 40px;
    font-family: HelveticaNeueLTStd-UltLtCn;
    top: 22%;
    left: 28%;
    color: #c1aea8; }
  .layer .right .tron p:nth-child(4){ 
    font-size: 14px;
    font-family: HelveticaNeueLTStd-BdCn;
    color: #6a6a6a;
    position: absolute;
    left: 30%;
    top: 60%; }
.layer .right { 
  padding-left: 0px; }
.layer .layer4 { 
  padding-right: 0px;
  margin-top: 2px; }
.layer .layer4 a{ 
  position: absolute;
  font-size: 34px;
  font-family: HelveticaNeueLTStd-UltLtCn;
  color: white;
  width: 100%;
  left: 0;
  top: 68%;
  padding-left: 15px; }
.layer .layer5{ 
  padding-left: 0px;
  margin-top: 2px; }
.layer .layer5 .text-center{ 
  position: absolute;
  top: 0; }
.layer .layer5 p{ 
  font-size: 36px;
  color: white;
  font-family: HelveticaNeueLTStd-Cn;
  line-height: 33px; }
  .layer .layer5 .text-center p:nth-child(1){ 
    padding-top: 30px; }
.layer .layer5 .text-center button{ 
  width: 100px;
  height: 30px;
  font-size: 12px;
  color: white;
  border-radius: 0px;
  background: #4fafa0;
  margin-top: 20px; }
.tab-slider-product{ 
  margin-top: 40px; }
.tab-slider-product .nav-item{ 
  text-transform: uppercase;
  font-size: 15px; }
.tab-slider-product .nav-item i{ 
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 20px;
  color: white;
  display: none; }
 .tab-slider-product .nav-item a{ 
  color: #555555; }
.tab-slider-product .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{ 
  background: #ffa687;
  border: none;
  color: white; }
.tab-slider-product .tab-content{ 
  padding: 20px 0px;
  background: #ffa687;
  margin-top: -2px; }
.owl-carousel_2 h4{ 
  font-size: 12px;
  color: #373737; }
.owl-carousel_2 p{ 
  font-size: 22px; }
.owl-carousel_2 button { 
  width: 110px;
  height: 30px;
  border: none;
  font-size: 12px;
  color: white;
  background: #ffa687;
  cursor: pointer; }
.owl-carousel_2 .text-center{ 
  padding: 10px 0px;
  background-color: white; }
.owl-carousel_2 .owl-dots{ 
  display: none; }
.owl-carousel_2 .owl-nav.disabled{ 
  display: block; }
.owl-carousel_2 .owl-prev{ 
  width: 45px;
  height: 45px;
  background: #f2f2f2 !important;
  border-radius: 0px !important;
  position: absolute;
  top: -65px;
  right: 30px;
  margin: 0 !important;
  font-size: 30px !important; }
.owl-carousel_2 .owl-next{ 
  width: 45px;
  height: 45px;
  background: #ffa687 !important;
  border-radius: 0px !important;
  position: absolute;
  top: -65px;
  right: -15px;
  margin: 0 !important;
  font-size: 30px !important; }
.owl-carousel_2 .item{ 
  position: relative; }
.owl-carousel_2 .item .row{ 
  position: absolute;
  width: 100%;
  margin: auto;
  top: 22%; }
.owl-carousel_2 .item .row a{ 
  width: 100%;
  transform: scale(0) }
.owl-carousel_2 .item:hover a{ 
  display: block;
  transition: all 1s;
  transform: scale(1) }
.owl-carousel_2 .item .row .col-6{ 
  padding: 0;  }
.owl-carousel_2 .item .row .text-center{ 
  background-color: transparent;
  position: absolute;
  top: 17px;
  left: 29px; }
.owl-carousel_2 .item .row .text-center img{ 
  display: inline-block;
  width: auto; }
.owl-carousel_2 .item .row .text-center p{ 
  font-size: 12px;
  color: white;
  line-height: 25px; }
.clearence { 
  position: relative;
  margin: 20px 0px; }
.clearence .col-sm-2{
  padding: 0px;
  position: relative;
  }
.clearence .text-center{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  color: white;
  font-family: AEmpirial Regular;
  padding-top: 21%;
  }
.clearence .text-center h4{
  font-size: 50px;
  font-family: AEmpirial Regular;
  line-height: 40px;
  }
.clearence .text-center div {
  text-align: center;
}
.clearence .text-center div p:nth-child(1){
  /* float: left; */
  font-size: 81px;
  line-height: 80%;
  /* padding-left: 42%; */
  display: inline;
  }
.clearence .text-center div p:nth-child(2){
  font-size: 36px;
  line-height: 30px;
  /* padding-right: 10px; */
  display: inline;
  position: absolute;
  }
.clearence .text-center div p:nth-child(3){
  font-size: 39px;
  line-height: 24px;
  padding-right: 4px;
  display: inline-block;
  }
.row.clearence::before {
  content: "";
  height: 1px;
  width: 37%;
  top: 50%;
  display: inline-block;
  position: absolute;
  border-top: 1px solid #d8d8d8;
  /* left: 15px; */
  }
.row.clearence::after {
  content: "";
  height: 1px;
  width: 37%;
  top: 50%;
  display: inline-block;
  position: absolute;
  border-top: 1px solid #d8d8d8;
  right: 0;
  }
.home-products{ 
  margin-top: 0px !important; }
.favourite {
  margin-top: 70px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  position: relative; }
.favourite h4{ 
  display: inline-block;
  padding: 0px 15px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background: white;
  top: -9px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; }
.favourite .container{ 
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0; }
.about-lookshop h4{ 
  color: #414141;
  padding-top: 30px;
  padding-bottom: 20px; }
.about-lookshop p{ 
  color: #999999; }













/* ---------------END CONTENT-------------- */

/* -------------- FOOTER------------- */

footer .pay{ 
  height: 60px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #414141;
  margin-top: 40px; }
  footer .pay a{ 
    padding-left: 20px; }
footer .information{ 
  padding-top: 30px;
  background-color: #ededed; }
  footer .information h4{ 
    font-size: 16px;
    font-weight: bold;
    color: #544f4d;
    padding-bottom: 15px; }
  footer .information .link1 li{ 
    list-style-type: none;
    line-height: 20px; }
    footer .information .link1 li a{ 
      font-size: 12px;
      color: #544f4d; }
      footer .information .link1 li a:hover{ 
      text-decoration: underline !important; }
  footer .information .link2 li{ 
    list-style-type: none;
    display: inline-block;
    padding: 0px 3px 10px 0px; }
  footer .information .secured .text-center{ 
    position: absolute;
    right: 15px;
    top: 23px; }
    footer .information .secured .text-center p:nth-child(2){ 
      position: absolute;
      left: 21%;
      top: 21%;
      font-size: 30px;
      color: #a59d9a;
      font-family: Impact; } 
    footer .information .secured .text-center p:nth-child(3){ 
      font-family: "HelveticaNeueLTStd-Cn";
      font-size: 14px;
      color: #a59d9a;
      left: 28%;
      top: 54%;
      position: absolute; }
footer .footer-bottom{ 
  background-color: black;
  display: flex;
  height: 75px;
  align-items: center; }
  footer .footer-bottom .menu-footer a{ 
    color: #8d8d8d;
    font-size: 11px; }
  footer .footer-bottom .menu-footer a:hover{ 
    color: white; }
  footer .footer-bottom .text-right { 
    color: #8d8d8d;
    font-size: 11px; }


/* -------------END FOOTER-------------- */

.menu-mobi{ 
  display: none; }
.menu-mobi .navbar-expand-sm .navbar-nav .nav-link{ 
  padding:0px;
  padding-right: 16px; }
.menu-mobi .dropdown-toggle::after{ 
  margin: 0px; }
.container-fluid.header-top.mobi { 
  display: none; }
.logo-mobi{ 
  display: none; }
.menu-mobi-footer{ 
  display: none; }
.menu-mobi-footer div{ 
  position: absolute;
  bottom: 0;
  background: black; 
  display: none;  }
  .menu-mobi-footer div i{ 
    position: absolute;
    bottom: 0; }
.menu-mobi-footer ul{ 
  padding: 20px 20px 50px 20px;
  margin: 0px; }
  .menu-mobi-footer ul li{ 
    list-style-type: none;
    cursor: pointer; }
  .menu-mobi-footer ul li:hover{ 
    background-color: wheat; }
    .menu-mobi-footer ul li:hover a{ 
      color: black; }
    .menu-mobi-footer ul li a{ 
      color: white;
      font-size: 15px; }

/* .tab-slider-product ul.nav{ 
display: list-item; }
.tab-slider-product{ 
  position: relative; }
.tab-slider-product ul.nav-tabs{ 
  position: absolute;
  z-index: 10;
  background: white;
  top: -38px; }
.tab-slider-product ul.nav-tabs li{ 
  width: 150px; }
.tab-slider-product ul.nav-tabs li.xoa{ 
  display: none; }
.tab-slider-product ul.nav-tabs:hover li.xoa{ 
  display: block; }
.tab-slider-product ul.nav-tabs li a.codinh{ 
  background-color: #fd926d; }
.tab-slider-product ul.nav-tabs .nav-link { 
  border: none; } */







/* -------------REPONSIVE------------- */

@media screen and (max-width: 12000px){ 
  
  .owl-carousel_2 .item .row .text-center{ 
    top: 21%;
    left: 31%; }
  .layer .right .tron h3{
    top: 14%;
    font-size: 22px;
    left: 36%;  }
  .layer .right .tron p:nth-child(3){
    font-size: 46px;  }
  .layer .right .tron p:nth-child(4){
    left: 33%;
    font-size: 15px;  }
@media screen and (max-width: 1199px) {
  .clearence .text-center h4{ 
    font-size: 40px; }
  .clearence .text-center div p:nth-child(1){ 
    font-size: 65px; }
  .clearence .text-center div p:nth-child(2),.clearence .text-center div p:nth-child(3){ 
    font-size: 30px; }
  .owl-carousel_2 .item .row .text-center{ 
    top: 20%;
    left: 27%; }
  .layer .layer5 p{ 
    margin-bottom: 0px; }
  .layer .right .tron h3{
    top: 14%;
    font-size: 21px;
    left: 34%;  }
  .layer .right .tron p:nth-child(3){
    top: 23%;
    left: 29%;
    font-size: 39px;  }
  .layer .right .tron p:nth-child(4){
    left: 32%;
    top: 62%;
    font-size: 13px;  }
}
@media screen and (max-width: 991px){
  .clearence .text-center h4 {
    font-size: 30px;
    line-height: 23px;  }
  .clearence .text-center div p:nth-child(1) {
    font-size: 55px;  }
  .clearence .text-center div p:nth-child(2), .clearence .text-center div p:nth-child(3) {
    font-size: 25px;  }
  .clearence .text-center div p:nth-child(2){ 
    line-height: 20px; }
  .layer .left .text-center{ 
    height: 243px; }
  .layer .left .text-center h3{
    font-size: 30px;
    margin: 0;
    }
  .layer #outfits{
    font-size: 65px;
    margin: 0;
    }
  p#and::before{ 
    width: 187px; }
  .layer #looks{
    font-size: 60px;
    margin: 0;
    }
  .layer .right .tron h3{ 
    left: 35%;
    font-size: 15px; }
  .layer .right .tron p:nth-child(3){ 
    left: 30%;
    font-size: 28px; }
  .layer .layer4 a{ 
    font-size: 25px; }
  .layer .layer5 p{ 
    font-size: 25px;
    line-height: 30px; }
  .layer .layer5 .text-center p:nth-child(1){ 
    padding-top: 15px; }
  .layer .layer5 .text-center button{ 
    width: 80px;
    height: 25px;
    margin-top: 5px;
    font-size: 9px; }
  .layer .right .tron p:nth-child(4){ 
    font-size: 9px;
    left: 34%; }
  .home-slider-text P:nth-child(3){ 
    font-size: 25px; }
  .home-slider-text h4{ 
    font-size: 30px; }
  .home-slider-text .crazy{ 
    height: 25px; }
  .home-slider-text button{ 
    height: 40px;
    width: 140px; }
  content .slider_product .carousel-item .content-slider h4{ 
    padding-bottom: 5px; }
  content .slider_product .carousel-item .content-slider h3{ 
    padding-bottom: 5px; }
  content .slider_product .carousel-item .content-slider p{ 
    padding-bottom: 10px; }
  .product-portfolio-left .sort-by span{ 
    display: none; }
  .header-bottom .form-group{
    width: 100%; }
  .header-bottom .form-group input{ 
    width: 100%; }
  .header-bottom .menu .dropdown a{ 
    font-size: 14px; }
  .header-bottom .menu .dropdown{ 
    margin-left: 3%; }
  content .product .product-details p:nth-child(1){ 
    padding: 0px 0px 5px 0px; }
  content .product .product-details h4{ 
    padding: 10px 0px 0px 0px;
    font-size: 20px; }
  content .product .product-details p:nth-child(4){ 
    padding-top: 0px; }
  content .product .product-details>div:nth-child(5){ 
    margin-top: 10px;
    padding: 7px 0 0 0; }
  content .product .product-details div:nth-child(6){ 
    margin-top: 6px; }
  content .product .product-details div:nth-child(3) .text-left{ 
    font-size: 25px; }
  content .product .product-details div:nth-child(5) .text-left input{ 
    width: 140px; }
}
@media screen and (max-width: 767px){
  .home-slider,.layer,.favourite{ 
    display: none; }
  .slider_product{ 
    display: none; }
  .header-bottom .menu{ 
    display: none; }
  .menu-mobi{ 
    display: block; }
  .menu-mobi .navbar-dark .navbar-nav .nav-link{ 
    color: black; }
  content .share{ 
    display: none; }
  footer .pay{ 
    display: none; }
  .menu-content{ 
    margin-top: 20px; }
  header .bg-dark{ 
    background-color: #fd926d!important }
  .menu-footer{ 
    display: none; }
  .menu-mobi-footer{ 
    display: block; }
  .menu-mobi-footer i{
    font-size: 30px;
    color: white;
    cursor: pointer;
    }
}
@media screen and (max-width: 575px){
  .row.clearence::after,.row.clearence::before{ 
    width: 30%; }
  .owl-carousel_2 .item .row .text-center {
    top: 9%;
    left: 21%; }
  .tab-slider-product{ 
    margin-top: 80px; }
  .tab-slider-product .nav-item i{ 
    display: block; }
.tab-slider-product ul.nav{ 
  display: list-item; }
.tab-slider-product{ 
  position: relative; }
.tab-slider-product ul.nav-tabs{ 
  position: absolute;
  z-index: 10;
  background: white;
  top: -38px; }
.tab-slider-product ul.nav-tabs li{ 
  width: 150px; }
.tab-slider-product ul.nav-tabs li.xoa{ 
  display: none; }
.tab-slider-product ul.nav-tabs:hover li.xoa{ 
  display: block; }
.tab-slider-product ul.nav-tabs li a.codinh{ 
  background-color: #fd926d; }
.tab-slider-product ul.nav-tabs .nav-link { 
  border: none; }

  .sort-by,.stay-find .find{ 
    display: none; }
  .header-top .text-right{ 
    display: none; }
  .header-top { 
    background-color:white; }
  .header-top p{ 
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #838383; }
  .container-fluid.header-top.mobi { 
    display: block;
    background-color: black; }
    .container-fluid.header-top.mobi li{ 
      line-height: 50px; }
    .header-top ul{ 
      text-align: center; }
    .header-top ul li a{ 
      font-size: 18px; }
    .logo-pc{ 
      display: none; }
    .logo-mobi{ 
      display: block; }
  .header-bottom .logo {
    height: 150px;
    display: flex;
    justify-content: center; }
  .header-bottom .form-group i{ 
    display: none; }
  .header-bottom .form-group input{ 
    display: none; }
  .header-bottom .form-group{ 
    height: 50px;
    margin: 0px;
    margin-bottom: 15px; }
  .header-bottom .form-group p{ 
    background: url(../images/cart.png) no-repeat 10px center;
    font-size: 20px;
    line-height: 50px; }
  .secured{ 
    display: none; }

}
@media screen and (max-width: 410px){ 
  .footer-bottom .col-4.text-right{ 
    display: none; }


}
@media screen and (max-width: 375px){
  .owl-carousel_2 .item .row .text-center {
    top: 26%;
    left: 36%;  }
  content .product .product-details div:nth-child(5) .text-left input{ 
    width: 100px; }
  content .product .product-details .input-group button{ 
    width: 40px; }
}
@media screen and (max-width: 320px){
  .clearence .text-center h4 {
    font-size: 26px;
    line-height: 18px;  }
  .clearence .text-center div p:nth-child(1) {
    font-size: 45px;  }
  .clearence .text-center div p:nth-child(2), .clearence .text-center div p:nth-child(3) {
    font-size: 20px; }
  .owl-carousel_2 .item .row .text-center {
    top: 23%;
    left: 32%;  }
  content .product .product-details div:nth-child(5) .text-right div{ 
    display: none; }
  content .product .product-details>div:nth-child(5){ 
    padding: 7px 0px; }
}



