*{margin:0;
  padding:0;
 }
 
a {
    text-decoration: none !important;
    &:hover {
      text-decoration:none;
      outline: none;
      background: transparent;
    }
}
h1, h2, h3, h4, h5, h6 ,p{
    margin: 0;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: opensans-re;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: opensans-bo;
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: opensans-ita;
    src: url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: Yeseva;
    src: url('../fonts/YesevaOne-Regular.ttf');
}

@font-face {
    font-family: utm;
    src: url('../fonts/UTM ViceroyJF.ttf');
}

@font-face {
    font-family: vnf;
    src: url('../fonts/VNF-Intro Inline.ttf');
}

body {
    font-family: 'opensans-re';
}

/* --------------------- header --------------------- */

.wrap_header {
    .wrap_top_header {
        background: white;
        justify-content: space-between;
        display: flex;
        padding: 10px 0px 20px;
        .left_info {
             padding-top: 30px;
            ul {
                margin: 0;
                display: inline-block;
                li {
                    padding: 0;
                    list-style: none;
                    display: inline-block;
                    a {
                        display: inline-block;
                        i.fa.fa-facebook {
                            color: #19283f;
                            font-size: 16px;
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            background: #ebf1f6;
                            line-height: 34px;
                            text-align: center;
                            display: inline-block;
                            &:hover {
                                background: #438bc8;
                                color: white;
                            }
                        }
                        i.fa.fa-google-plus {
                            color: #19283f;
                            font-size: 16px;
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            background: #ebf1f6;
                            line-height: 34px;
                            text-align: center;
                            display: inline-block;
                            &:hover {
                                background: #eb544c;
                                color: white;
                            }
                        }
                    }
                }   
            }
        }
        .center_info_logo {
            display: inline-block;
        }
        .right_info {
            display: inline-block;
            padding-top: 30px;
            .search {
                display: inline-block;
                position: relative;
                float: left;
                a.btn.search_hover {
                    display: inline-block;
                    color: #19283f;
                    font-size: 16px;
                    background: #ebf1f6;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    line-height: 25px;
                    text-align: center;
                    &:hover form {
                        opacity: 1;
                        visibility: visible;
                        right: 0;
                        z-index: 3;
                        width: 180px;
                        transform: translateX(0%);
                        transition: 0.5s all;
                    }
                }
                form {
                    background: #ebf1f6;
                    border-radius: 30px;
                    padding: 8px 22px;
                    position: absolute;
                    top: 0px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 3;
                    right: 0;
                    transform: translateX(0%);
                    display: inline-block;
                    width: 0px;
                    transition: 0.5s all;
                    input[type="text"] {
                        border: none;
                        outline: none;
                        font-size: 14px;
                        background: no-repeat;
                        margin-left: 5px;
                        width: 100%;
                    }
                    button {
                        font-size: 16px;
                        color: #19283f;
                        border: none;
                        background: none;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
            .cart {
                display: inline-block;
                margin-left: 6px;
                a {
                    display: inline-block;
                    color: #19283f;
                    font-size: 16px;
                    background: #ebf1f6;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    line-height: 38px;
                    text-align: center;
                    position: relative;
                    &:hover {
                        background: #ff661c;
                        color: white;
                    }
                    span.badge {
                        font-size: 12px;
                        color: white;
                        background: #31b753;
                        border-radius: 16px;
                        width: 21px;
                        height: 14px;
                        line-height: 10px;
                        text-align: center;
                        position: absolute;
                        right: -12px;
                    }
                }
            }
        }
    }
    .wrap_menu {
        text-align: center;
        nav.navbar {
            text-align: center;
            display: inline-block;
            padding: 0;
            ul {
                li {
                    &:hover a::before {
                        width: 50%;
                        transition: 0.5s all;
                    }
                    a {
                        font-size: 15px;
                        color: #19283f;
                        text-transform: uppercase;
                        font-weight: bold;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            bottom: 0px;
                            width: 0%;
                            height: 2px;
                            background: #ff661c;
                            transition: all 0.5s;
                            -webkit-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            transform: translateX(-50%);
                            opacity: 1;
                        }
                    }
                    a.nav-link.active {
                        color: #ff661c;
                    }
                }
            }
        }
    }
}

.wrap_banner {
    background-image: url('../images/banner.png');
    background-size: cover;
    width: 100%;
    .info_banner {
        display: inline-block;
        text-align: center;
        padding: 82px 0px;
        h2 {
            font-family: 'vnf';
            color: #00821a;
            line-height: 1.4;
            font-size: 38px;
        }
        h3 {
            font-family: 'utm';
            color: #0f9400;
            font-size: 33px;
            text-transform: capitalize;
            line-height: 1.3;
            padding-bottom: 30px;
        }
        a {
            font-size: 15px;
            color: #00821a;
            font-weight: bold;
            padding: 8px 27px;
            display: inline-block;
            background: white;
            border-radius: 0px;
            &:hover {
                color: white;
                background: #00821a;
            }
        }
    }
}

/* menu mobile */
.click_out {
    position: absolute;
    z-index: 98;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.open-nav {
    font-size: 30px;
    color: #118436;
    z-index: 99;
    cursor: pointer;
    display: inline-block;
    line-height: 1.1;
}

#menu-mobile {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 300px;
    height: 100%;
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    transition: all 0.4s;
    overflow: auto;
    .far.fa-window-close {
        color: black !important;
        font-size: 28px !important;
        cursor: pointer;
    }
    .nav_mobile {
        padding: 20px 15px;
        .top {
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            .fa.fa-times.click_bg {
                font-size: 27px;
                float: right;
                cursor: pointer;
                padding-top: 13px;
            }
        }
        ul {
            list-style: none;
            padding-top: 10px;
            overflow: auto;
            li {
                clear: both;
                position: relative;
                &:first-child {
                    border: none;
                }
                a {
                    color:#474747;
                    padding: 12px 0;
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    &:hover {
                        color: #0556c0;
                    }
                }
                .sub-menu {
                    padding: 0;
                    max-height: 0;
                    transition: all 0.5s;
                    overflow: hidden;
                    li {
                        &:first-child {
                            border-top: 0;
                        }
                        a {
                            padding-left: 20px;
                            display: inline-block;
                        }
                    }
                    .sub-menu {
                        max-height: 0;
                        overflow: hidden;
                        a {
                            padding-left: 40px;
                        }
                    }
                }
            }
            .active {
                a {
                   /* color: $color_cam; */
                }
            }
        }
        .user-nav-mb {
            span {
                width: 50%;
                float: left;
                i {
                    margin-right: 10px;
                    color:white;
                }
                a {
                    color: white;
                }
            }
        }
    }
    .accordion {
        color: #474747;
        cursor: pointer;
        border: none;
        text-align: center;
        font-size: 15px;
        transition: all 0.4s;
        position: absolute;
        top: 0;
        right: 0;
        background: #F2F2F2;
        width: 38px;
        height: 38px;
        line-height: 38px;
        &:focus {
            outline: none;
        }
    }
    .accordion::after {
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        color: #474747;
        font-weight: bold;
    }
    .accordion.active::after {
        content: "\f106";
        font-family: "Font Awesome 5 Free";
    }
}

.open-nav {
    display: none;
}


/* == End menu mobile */

/* --------------------- End  header --------------------- */

/* ----------------------- Footer ------------------------- */

.foooter {
    background: white;
    .wrap_main {
        padding: 40px 0px 22px;
        .info {
            h4 {
                font-size: 15px;
                color: #0e0f2a;
                font-weight: bold;
                text-transform: uppercase;
                padding-bottom: 23px;
                text-transform: uppercase;
            }
            ul {
                margin: 0;
                li {
                    list-style: none;
                    a {
                        font-size: 14px;
                        color: #0e0f2a;
                        font-weight: bold;
                        display: inline-block;
                        padding-bottom: 10px;
                    }
                    p {
                        padding-bottom: 10px;
                        font-size: 14px;
                        color: #0e0f2a;
                        i {
                            font-size: 16px;
                            color: #0e0f2a;
                        }
                        span {
                            font-size: 13px;
                            color: #1c1e54;
                            font-style: italic;
                            display: block;
                            padding-left: 25px;
                            margin-top: -22px;
                        }
                        a {
                            padding: 0 8px;
                        }
                    }
                }
            }
            p.note {
                font-size: 12px;
                color: #1c1e54;
                font-style: italic;
            }
            .map {
                iframe {
                    width: 100%;
                    display: inline-block;
                }
            }
        }
    }
    .logo {
        text-align: center;
        padding-bottom: 15px;
    }
    .copy_right {
        text-align: center;
        background: #005929;
        padding: 10px 0px 12px;
        .info {
            p {
                font-size: 13px;
                color: white;
            }
        }
    }
}

/* ======================= scroll-top ======================= */
.scrolltop a {
    font-size: 25px;
    color: white;
    border-radius: 2px;
    line-height: 0;
    background: #11883b;
    text-align: center;
    position: fixed;
    bottom: 10%;
    right: 28px;
    z-index: 9999;
    transition: .5s;
    cursor: pointer;
    padding: 8px 12px;
    display: none;
}


/* ----------------------- End Footer ------------------------- */



/* --------------------- Home --------------------- */
.title_all {
    display: inline-block;
    width: 100%;
    padding-bottom: 45px;
    h2 {
        text-align: center;
        font-family: Yesava;
        text-transform: capitalize;
        font-weight: bold;
        color: #1a2940;
        font-size: 26px;
        line-height: 1.1;
        padding-bottom: 15px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url('../images/icon_title.png');
            background-repeat: no-repeat;
            width: 100%;
            bottom: -17px;
            left: 0;
            background-position: center;
            height: 25px;
        }
    }
}

.wrap_intro {
    background-image: url('../images/banner2.png');
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .main_info {
        padding: 80px 0px;
        .index_info {
            p {
                font-size: 14px;
                color: #0e0f2a;
                padding-bottom: 35px;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        } 
        .intro_video {
            iframe {
                width: 100%;
                height: 290px;
            }
        }  
    }
}


.wrap_product {
    background-image: url('../images/banner3.png');
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .main_info {
        padding-bottom: 80px;
        .bg_row {
            background: #11883b;
            margin-bottom: 30px;
            padding: 26px;
            &:last-child {
                margin-bottom: 0;
            }
            .product_images {
                position: relative;
                &::before {
                    content: '';
                    width: 0px;
                    height: 0px;
                    background: rgba(238, 238, 238, 0.8);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
                &:hover::before {
                    width: 100%;
                    transition: 1.2s;
                    opacity: 0;
                    height: 100%;
                    z-index: 1;
                }
                &::after {
                    content: '';
                    width: 0px;
                    height: 0px;
                    background: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                }
                &:hover::after {
                    width: 100%;
                    transition: 1.2s;
                    opacity: 0;
                    height: 100%;
                    z-index: 1;
                }
            }
            .index_product {
                text-align: center;
                h3 {
                    text-align: center;
                    font-size: 18px;
                    color: white;
                    font-family: 'Yesava';
                    font-weight: bold;
                    position: relative;
                    padding-bottom: 30px;
                    &::before {
                        content: '';
                        position: absolute;
                        background-image: url('../images/icon_title2.png');
                        background-repeat: no-repeat;
                        width: 100%;
                        bottom: 5px;
                        left: 0;
                        background-position: center;
                        height: 18px;
                    }
                }
                p {
                    font-size: 14px;
                    color: white;
                    padding-bottom: 10px;
                    text-align: left;
                }
                a {
                    color: #ff661c;
                    font-size: 14px;
                    background: white;
                    border-radius: 32px;
                    padding: 3px 20px;
                    margin: 0 auto;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

.wrap_guide {
    background-image: url('../images/banner4.png');
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .main_info {
        padding-bottom: 78px;
        .main_guide {
                padding-top: 15px;
            .left_info {
                .info_giude {
                    padding-bottom: 28px;
                    display: inline-block;
                    width: 100%;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    .images {
                        display: inline-block;
                        text-align: center;
                        float: left;
                        width: 15%;
                    }
                    .text_post {
                            display: inline-block;
                            padding-left: 45px;
                            width: 75%;
                        h4 {
                            font-size: 16px;
                            color: #0e0f2a;
                            font-weight: bold;
                            padding-bottom: 10px;
                        }
                        p {
                            font-size: 14px;
                            color: #0e0f2a;
                        }
                    }
                }
            }
            .right_info {
                text-align: center;
            }
        }
    }
}

.wrap_display_product {
    padding-bottom: 80px;
    .main_info {
         background-image: url('../images/banner5.png');
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 65px 0px 88px;
        text-align: center;
        p {
            font-size: 14px;
            color: #0e0f2a;
        }
        .images_row {
            display: flex;
            padding-top: 30px;
            .images {
                padding-right: 30px;
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.wrap_agency_slide {
    .main_info {
        .main_slide {
               padding: 15px 0px 35px;
            .custom_owl_1  {
                .slide_info {
                    text-align: center;
                    .images {
                        position: relative;
                        display: inline-block;
                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            border: 12px solid #ffffff52;
                            height: 100%;
                            border-radius: 50%;
                            transition: 0.5s all;
                        }
                        &:hover::before {
                            transition: 0.5s all;
                            border: 0px solid #ffffff52;
                        }
                        img {
                            display: inline-block;
                            width: auto;
                        }
                    }
                    .caption {
                        padding-top: 25px;
                        h5 {
                            font-size: 14px;
                            color: #0e0f2a;
                            font-weight: bold;
                            padding-bottom: 3px;
                        }
                        p {
                            color: #0e0f2a;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.wrap_feedback {
    padding: 80px 0px;
    .main_info {
        background-image: url('../images/banner7.png');
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 60px 0px 73px;
        text-align: center;
        .custom_owl_2  {
            .infomation {
                padding-top: 10px;
                p {
                    font-size: 14px;
                    color: #0e0f2a;
                    font-style: italic;
                }
                .info_user {
                    padding-top: 25px;
                    display: flex;
                    justify-content: center;
                    .images {
                        margin-right: 15px;
                        img {
                            display: inline-block;
                            width: auto;
                        }
                    }
                    .name_info {
                        text-align: left;
                        h5 {
                            font-size: 15px;
                            color: #0e0f2a;
                            font-weight: bold;
                            padding-bottom: 5px;
                        }
                        p {
                            font-size: 13px;
                            color: #1c1e54;
                            font-style: normal;
                            line-height: 1.1;
                            padding-bottom: 6px;
                            &:last-child {
                                padding-bottom: 0;
                            }
                            i {
                                font-size: 13px;
                                color: #fad94d;
                            }
                        }
                    }
                }
            }
        }
    }
}

.custom_owl_2 {
    .owl-dots {
        display: none;
    }
    button {
        font-size: 26px !important;
        outline: none !important;
        &:hover {
            background: none !important;
            color: #464646 !important;
        }
    }
    button.owl-prev {
        position: absolute;
        left: 32%;
        top: 65%;
    }
    button.owl-next {
        position: absolute;
        right: 32%;
        top: 65%;
    }
}

.wrap_contact {
    background-image: url('../images/banner8.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0px 0px 35px;
    overflow: hidden;
    .main_info {
        .contact_info {
            text-align: center;
            background: #66de97;
            padding: 40px 0px 22px;
            h3 {
                font-size: 22px;
                color: #29364a;
                font-weight: bold;
                padding-bottom: 20px;
                line-height: 1.1;
                display: inline-block;
                font-family: 'Yeseva'
            }
            form {
                .form-group {
                    margin-bottom: 18px;
                    display: inline-block;
                    border: 1px solid #dee6ec;
                    border-radius: 2px;
                    span {
                        font-size: 17px;
                        color: #10242b;
                        background: white;
                        padding: 10px 15px;
                        width: 45px;
                        display: inline-block;
                    }
                    span.fix_icon {
                        height: 140px;
                        display: inline-block;
                        top: 0;
                        float: left;
                    }
                    input {
                        background: white;
                        font-size: 13px;
                        border: none;
                        padding: 11px 0px;
                        margin-left: -5px;
                        outline: none;
                        border-top: 4px solid white;
                        width: 320px;
                    }
                    textarea {
                        background: white;
                        font-size: 13px;
                        border: none;
                        padding: 10px 0px;
                        outline: none;
                        border-top: 3px solid white;
                        height: 177px;
                        max-height: 140px;
                        width: 320px;
                        float: left;
                    }
                }
                .form-group.fix_cm {
                    margin: 0;
                    margin-bottom: 37px;
                }
                button {
                    font-size: 13px;
                    color: #ff661c;
                    border: 1px solid #ff661c;
                    background: white;
                    padding: 14px 30px;
                    border-radius: 3px;
                    font-weight: bold;
                    cursor: pointer;
                    outline: none;
                    display: inline-block;
                    &:hover {
                        background: #ff661c;
                        color: white;
                    }
                }
            }
        }
    }
}



/* --------------------- End Home --------------------- */



/* responsive // 1199 1024 991 768 767 480 414 375 360 320 max-width */
@media screen and (max-width: 1199px){
    .wrap_display_product .main_info {
        padding: 60px 0px 45px;
    }
    .wrap_feedback .main_info {
        padding: 30px 0px 20px;
    }
    .wrap_contact .main_info .contact_info form .form-group input, .wrap_contact .main_info .contact_info form .form-group textarea {
        width: 250px;
    }
}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 991px){
    .wrap_header .wrap_menu nav.navbar ul li a {
        font-size: 12px;
    }
    .wrap_intro .main_info .index_info {
        margin-bottom: 35px;
    }
    .wrap_product .main_info {
        text-align: center;
    }
    .wrap_product .main_info .bg_row .product_images {
        margin-bottom: 20px;
    }
    .wrap_product .main_info .bg_row .index_product {
        margin-bottom: 20px;
    }
    .wrap_guide .main_info .main_guide .right_info {
        margin-top: 20px;
    }
    .wrap_display_product .main_info ,.wrap_feedback .main_info, .wrap_feedback .main_info {
        background-image: none !important;
    }
    .wrap_display_product {
        padding-bottom: 25px;
    }
    .custom_owl_1 .owl-dots ,.custom_owl_1 .owl-nav {
        display: none;
    }
    .wrap_feedback {
        padding: 30px 0px;
    }
    .foooter .wrap_main .info {
        margin-bottom: 25px;
    }
    .wrap_contact .main_info .contact_info form .form-group input, .wrap_contact .main_info .contact_info form .form-group textarea {
        width: 320px;
    }
    .wrap_contact .main_info .contact_info form button {
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px){
    .wrap_banner .info_banner {
        padding: 30px 0px;
    }
    .wrap_guide .main_info {
        padding-bottom: 0px;
    }
}
@media screen and (max-width: 767px){
    .wrap_header .wrap_menu {
        display: none;
    }
    .wrap_header .wrap_top_header .left_info ,.wrap_header .wrap_top_header .right_info {
        display: none;
    }
    .open-nav {
        display: block;
        padding-top: 30px;
    }
    .custom_owl_2 button.owl-prev {
        left: 22%;
        top: 70%;
    }
    .custom_owl_2 button.owl-next {
        right: 22%;
        top: 70%;
    }
    .wrap_banner .info_banner h2 {
        font-size: 25px;
    }
    #menu-mobile .nav_mobile .right_info {
        display: block;
        padding: 0;
    }
    #menu-mobile .nav_mobile .wrap_top_header {
        justify-content: center;
    }
    #menu-mobile .nav_mobile .wrap_top_header .right_info .search {
        float: right;
        margin-left: 20px;
    }
}
@media screen and (max-width: 480px){
    .wrap_banner .info_banner h3 {
        font-size: 24px;
    }
    .wrap_banner {
        background-position: center;
    }
    .wrap_display_product .main_info .images_row .images {
        padding-right: 5px;
    }
}
@media screen and (max-width: 414px){
    .wrap_banner_ads {
        display: none;
    }
    .scrolltop a {
        right: 7px;
    }
    .foooter .copy_right .info p {
        font-size: 10px;
    }
}
@media screen and (max-width: 375px){
    .wrap_banner .info_banner h3 {
        font-size: 20px;
    }
    .wrap_banner .info_banner h2 {
        font-size: 20px;
    }
    .wrap_guide .main_info .main_guide .left_info .info_giude .text_post {
        padding-left: 17px;
    }
    .custom_owl_2 button.owl-prev {
        left: 7%;
        top: 77%;
    }
    .custom_owl_2 button.owl-next {
        right: 7%;
        top: 77%;
    }
    .wrap_contact .main_info .contact_info form .form-group input, .wrap_contact .main_info .contact_info form .form-group textarea {
        width: auto;
    }
}
@media screen and (max-width: 360px){
    .wrap_intro .main_info {
        padding: 30px 0px;
    }
    .wrap_agency_slide .main_info .main_slide {
        padding: 15px 0px 0px;
    }
}
@media screen and (max-width: 320px){
    .wrap_banner .info_banner h3 {
        font-size: 18px;
    }
    .wrap_banner .info_banner {
        padding: 18px 0px;
    }
    .wrap_banner .info_banner a {
        font-size: 13px;
        padding: 5px 19px;
    }
    .wrap_banner .info_banner h2 {
        font-size: 16px;
    }
}